@page "/banks"

@using Domain.Models
@using Services
@inject HttpClient Http
@inject BankService service

<h1>Banks</h1>

<EditForm Model="@formEntity" OnValidSubmit="AddItem">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="Bank Name" @bind-Value="formEntity.Name" />

    <button type="submit">Submit</button>
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Bank Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in banks)
        {
            <tr>
                <td>@entity.Id</td>
                <td>@entity.Name</td>
                <button class="btn btn-primary" @onclick="@(e => Delete(entity))">Remove</button>
            </tr>
        }
    </tbody>
</table>

@functions {
    Domain.Models.Bank formEntity = new Domain.Models.Bank();

    List<Bank> banks;

    protected override async Task OnInitializedAsync()
    {
        var res = await service.GetBanksAsync();
        banks = res.Banks;
    }

    async void Delete(Bank bank)
    {
        await service.DeleteBankAsync(bank);
    }

    void AddItem()
    {


    }
}