@page "/reporting"

@using Syncfusion.Blazor.Charts
@using System.Linq
@using Services
@using ReportingService
@using Domain.Models
@inject TransactionService service

<h1>Reporting</h1>


<SfChart>
    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
    <ChartSeriesCollection>
        <ChartSeries DataSource="@data" XName="Selector" YName="Amount" Type="ChartSeriesType.Column">
        </ChartSeries>
    </ChartSeriesCollection>
</SfChart>

@code{

    IEnumerable<Transaction> transactions;

    IList<Point> data;

    protected override async Task OnInitializedAsync()
    {
        UpdateTransactions();
        data = YearByCategory.GetData(transactions);
    }

    public void UpdateTransactions()
    {
        transactions = service.GetEntitiesAsync().Result.Entities;
    }
}